@model Logfox.Domain.Entities.Application
@{
    ViewBag.Title = "Delete";
    ViewBag.MenuItem = "applications";
}

@using(Html.BeginForm("Delete", "Application"))
{
    <legend>Delete @Model.Name application</legend>
    
    @Html.HiddenFor(model => model.Id)
        
    <span class="help-block">
        Do you really want to delete @Html.ActionLink(Model.Name, "Edit", new {Model.Id}) application?
    </span>

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-primary btn-large btn-custom" />
        @Html.ActionLink("Cancel", "Index", "Application", null, new { @class = "btn btn-large btn-secondary" })
    </div>
}
